casestudies/de.mfreund.pamtram.casestudies.visu-plus/metamodel/visopcclient.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OPCClientEditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OPCDAClientData">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:short" name="RefreshRateDynamicOPC"/>
                <xs:attribute type="xs:short" name="TimeoutDynamicOperation"/>
                <xs:attribute type="xs:short" name="StartupWaitTimeout"/>
                <xs:attribute type="xs:byte" name="PoolOPCClientTest"/>
                <xs:attribute type="xs:short" name="TimeoutOPCClientTest"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="OPCDAList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DAServer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Node">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Server"/>
                            <xs:attribute type="xs:string" name="ClassID"/>
                            <xs:attribute type="xs:short" name="ReconnectTime"/>
                            <xs:attribute type="xs:byte" name="ReReadDynamicItems"/>
                            <xs:attribute type="xs:byte" name="SyncOPCDynamicItemsAtStartup"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GroupList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Group">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:short" name="UpdateRate"/>
                                        <xs:attribute type="xs:byte" name="Active"/>
                                        <xs:attribute type="xs:byte" name="DeadBand"/>
                                        <xs:attribute type="xs:byte" name="TimeBias"/>
                                        <xs:attribute type="xs:byte" name="LocalID"/>
                                        <xs:attribute type="xs:short" name="NotInUseRefreshRate"/>
                                        <xs:attribute type="xs:byte" name="NotInUseDisableGroup"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ItemList">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="ItemID">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="AccessPath" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="VTType" use="optional"/>
                                                    <xs:attribute type="xs:string" name="Variable" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="EnableWrite" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="EnableRead" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="SyncDataStartup" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="SyncWrite" use="optional"/>
                                                    <xs:attribute type="xs:byte" name="ReRead" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="OPCAEList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>